<div class="assist" style="color: white; font-size: 20px; font-family: DM Sans, sans-serif;">
    Need assistance? Kindly call these numbers:  
    <span style="text-decoration: underline;">08082443986</span>, 
    <span style="text-decoration: underline;">08082443986</span>, 
    <span style="text-decoration: underline;">08133651259</span>, 
    <span style="text-decoration: underline;">09128634589</span>, 
    <span style="text-decoration: underline;">09065203251</span>, 
    <span style="text-decoration: underline;">09040333647</span>, 
    <span style="text-decoration: underline;">07065800221</span>
  </div>
  