<div>
    <div className='headings'>
<h2 className='startform-title'>Get A Loan In 5 Minutes</h2>
<hr className='title-underline'/>
</div>
<app-first></app-first>
<app-second></app-second>
<app-third></app-third>
<!-- <div className='button-container'>
{display.desktopTwo   && <span className='back-button' style={{color : "#C42222", cursor : "pointer"}} onClick={() => {backButton()}}>Back</span> }
{display.desktopThree   && <span className='back-button' style={{color : "#C42222", cursor : "pointer"}} onClick={() => {backButton()}}>Back</span> }
<button className='general-continue-button' onClick={() => { changeContent()}}>
Continue
</button>
</div> -->

</div>