<router-outlet></router-outlet>
  <section >
    
    <app-navbar></app-navbar>
  <section class='home-section'>
    <div class='home-page'>
           <div class='home-page-main' style="background-color: white;">
             <div>
            <div class='headings'>
        <h2 class='startform-title'>Get A Loan In 5 Minutes</h2>
        <hr class='title-underline'/>
        </div>
        <app-form></app-form>

    </div>
           </div>
   
       </div>
     
       <div class='home-page-bottom'>
        <app-assistance></app-assistance>
   
       </div>
       </section>
      </section>


